<% if logged_in? %>
  <h2>welcome, <%= current_user.name %></h2>
  <% else %>
  <div id="welcome">
  <h2> welcome </h2>
  <%= button_to "sign up", '/users/new', method: :get, :class => "button"%>
 <%= button_to "log in", '/login', method: :get, :class => "button" %>
 </div>
<% end %>
