services:
- postgresql
addons:
  postgresql: '9.6'
before_script:
- cp config/database.yml.travis config/database.yml
language: ruby
rvm:
- 2.7.1
script:
- bundle exec rails db:reset db:setup db:migrate RAILS_ENV=test
- bundle exec rspec

deploy:
  provider: heroku
  api_key:
    secure: SzFl7NlO2NIqXMNOP0vUPnTconu1UhxjMs9LdCNbjzQEvmSitryDap9yYhOERBdsb+hLnj4r0rBFg+e2ZVJZa0CBXeIajLjp9Mu0Rvu/AYa0TacbRjCa9HJTYZ8z48fyl4I47MJM39MmMzj28Nw567kAP6g++YgpxMMHMzDjj7Rk4CWZCO1xc1Eg+v0Z5YKRu+A8C75LSTCPTf/lqjJKfi4d/JM+CxeSXJvei8krHcYMuKP0lNog/4mPuYEUGuNa5s/gZ1RItaIDacmHqOyRvIyVD9H8pNEUZmZtR0Og2ZhQlJFw7CtAHuWCTszbgymT6UAvUAwhk+BWJlS7MqKn1AmkczKdcCnkfJlONNfPwUMBmsjizsIcM7L7U4qk1YDygcqs4vnBama5XPPDVU8O+v72uAguNPdlGQbhNpitZTxUoEBEAn9NA2rd5Bbx08Zkk7fKpEsWrNWilF90M0OTq7dljtPYEsCTurFLjC2NYJZtykspi3+q39uwYGDjqteSz8L3r1P/B3CbgI4+2bSg2chcpxUErJFsWwS80TtnCI2LGM6aZKrqXabNqZahdwE/MLjYgYwns7JIYkuB4iULxXQO+u0meoG+U275niCCn7RArGDZ41wa2Of7neHZEHzSVLXeyF1TlXyddzKmrPAuFDNfs8REFLFI7RjOWh/4DmM=
  app:
    master: lit-hollows-59869
  run: rake db:migrate:reset
